.container
    .page-header
        h3.text= title
        a(href="/") 首页
        span &nbsp;|&nbsp;
        a(href="/movie/list") 资源列表页
        span &nbsp;|&nbsp;
        a(href="/download" target="_blank") 资源下载页
